Subject: Service started

<p>Dear {{Project.Applicant.Fullname}},</p> 

<p>your project {{Project.Title}} is now ready for service. 
Please use this email address in order to organize the service - include project id (<b>{{Project.Id}}</b>) and
    core facility shortcut(s) anywhere in the subjects, so that the email can reach out to relevant people responsible for the project.</p>

<p>
    Examples of valid email subjects: <br/>
    [{{Project.Id}}, CryoEM] Data samples <br/>
    {{Project.Id}} - Data samples for CryoEM
</p>

<p>Alternatively, you can directly contact head(s) of our core facilities on following addresses:</p>

<p>{{cf_contact_list}}</p>

<p>in order to organize the service.</p>

<p>Kind regards,<br/></p> 

<p>Your CIISB team</p> 