@page "/{OrganizationId}/autoloaders"
@inherits OrganizationComponentBase
@inject AutoloadersService AutoloadersService

<PageTitle>Autoloaders</PageTitle>
<RefreshTimer Action="@(() => { })"></RefreshTimer>

<ConditionalRender Condition="@AutoloadersService.IsDataAvailable(Organization)">
    <TrueContent>
        <div class="text-end p-1">
            Last data update: <strong>@AutoloadersService.DtLastUpdate.HappenAgo()</strong>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
            @foreach (var autInstG in AutoloadersService.GetAutoloadersOverviews(Organization))
            {
                <Autoloader Instrument="@autInstG.Instrument" Records="@autInstG.AutoloaderGroupInfos"></Autoloader>
            }
        </div>
    </TrueContent>
    
    <FalseContent>
        <div class="alert-center">
            No autoloader data currently available
        </div>    
    </FalseContent>
</ConditionalRender>

@code {

}