Subject: New project

<p>Dear {{Project.Applicant.Fullname}},</p>

<p>thank you for submitting your project <b>{{Project.Acronym}} - {{Project.Title}}</b> to CIISB. Your project has been assigned project identification number (PID) {{Project.Id}}.
    Please always use the PID in the subject of your email for any communication related to this project.</p>

<p>Your project will be now undergo one step evaluation process which comprises technical feasibility evaluation done by facility manager(s).</p>

<p>We will contact you back once we obtain the results of the project evaluation.</p>

<p>In case of a successful evaluation of your project proposal, the maximal duration of the project is till {{date_standard Project.DtExpiration}}.</p>

<p>With kind regards, <br/> Your CIISB team</p>
