@using sip.Projects
@using sip.CEITEC.CIISB.Proposals.Creation
@inherits ProjectComponentBase<CProject>

@inject ProjectManipulationHelperService ProjService

<NullAware TValue="CProject" Value="Project" >
    <WhenReady Context="p">
        <h3 class="text-center">@p.Id - @p.Title - @p.ActualProjectType project</h3>
        
        <hr/>
        <ProjectStatusRenderer Statuses="@Statuses" StatusFlow="@StatusFlow"></ProjectStatusRenderer>
        <hr/>
        
        <div class="project-mid-container d-flex" >
        
            <div class="project-docs-container flex-grow-1 w-50">
        
                <div class="card panel-card bg-light" selected="@(SelectedDocument == p.CreationProposal)">
                    <div class="card-header d-flex align-items-center">
                        <strong>Project</strong>
                        <div class="flex-grow-1"></div>
                        <button @onclick="@(() => SelectDocument(p.CreationProposal))" class="btn btn-outline-primary">View &gt;</button>
                    </div>
                </div>
        
                @foreach (var tf in p.TechnicalFeasiblilityProposal)
                {
                    <div class="card panel-card bg-light" selected="@(SelectedDocument == tf)">
                        <div class="card-header d-flex align-items-center">
                            <strong>Technical feasibility - @tf.Organization.Abbreviation</strong>
                            <div class="flex-grow-1"></div>
                            <button @onclick="@(() => SelectDocument(tf))" class="btn btn-outline-primary">View &gt;</button>
                        </div>
                    </div>
                }
                
                @* <button @onclick="RemoveProject" class="btn btn-sm btn-danger">Remove</button> *@
            </div>
        
        
            <div class="project-preview-container flex-grow-1 h-100 w-50">
                @if (SelectedDocument is not null)
                {
                    <DocumentPreview Document="@SelectedDocument" PreferComponentRendering="@(SelectedDocument is not CCreationProposal)"></DocumentPreview>
                }
            </div>
        
        </div>
        
    </WhenReady>
    
    <WhenNull>
        Loading project... 
    </WhenNull>
</NullAware>

@code {

    private async Task RemoveProject()
    {
        await ProjService.RemoveProjectAsync(Project);
    }

}