@inherits OrganizationComponentBase
@using sip.Experiments.Model
@using sip.Organizations.Centers
@implements IDisposable

@page "/{OrganizationId}/microscopes"
@page "/{OrganizationId}/microscopes/{InstrumentId}"
@page "/{OrganizationId}/microscopes/{InstrumentId}/{ExperimentType}"

@inject NavigationManager NavigationManager
@inject ExperimentsService ExperimentsService
@inject IAuthorizationService AuthorizationService
@inject ILogger<MicroscopesPage> Logger
@inject IOptionsMonitor<InstrumentsOptions> InstrumentOptions
@inject IOptionsMonitor<ExperimentsOptions> ExperimentsOptions

<PageTitle>Microscopes - @InstrumentId</PageTitle>

<div class="microscopes-page">
    <nav>
        <div class="nav-mics">
            
            @foreach (var inst in _jobsAvailable)
            {
                var activeJobs = _activeExperiments.ForInstrument(inst.Key.Name).ToArray();
                <div class="instrument-container @inst.Key.DisplayTheme" active="@(inst.Key.Name == InstrumentId)">
                    <NavLink href="@UrlProvider($"microscopes/" + inst.Key.Name)"
                             class="inst-name d-flex">
                        <i class="bi @(inst.Key.Name == InstrumentId ? "bi-chevron-down" : "bi-chevron-right")"></i>&nbsp;
                        @inst.Key.DisplayName
                        @if (activeJobs.Length > 0)
                        {
                            <span class="d-block ms-auto badge badge-pill bg-dark text-light">@activeJobs.Length</span>
                        }
                    </NavLink>
                    @if (InstrumentId == inst.Key.Name)
                    {
                        @foreach (var exp in inst.Value.OrderBy(v => v.Value.DisplayOrder))
                        {
                            <div class="nav-item">
                                <NavLink class="d-flex align-items-center justify-content-between" 
                                         href="@UrlProvider($"microscopes/{inst.Key.Name}/{exp.Key}")">
                                    @exp.Value.DisplayName
                                    
                                    @if (activeJobs.Any(j => j.Technique == exp.Key)) 
                                    {
                                        <span class="badge badge-pill bg-light text-dark">R</span>
                                    }
                                </NavLink>
                            </div>
                        }
                    }

                </div>
                <div style="height: 0.2rem"></div>
            }

        </div>
        
        <NodesStatus Organization="@Organization" />
    </nav>
    
    <div>
        @if (_currentExperiment is not null)
        {
            <ExperimentComponent ExpMeta="@_currentExperimentMeta" ExpHandler="ExperimentEngine" Exp="@_currentExperiment" />
        }
        else
        {
            <span class="note">You cannot utilize @((ExperimentType is null) ? "any" : "this") instrument at the moment.</span>        
        }
    </div>
</div>


@code {

    [Parameter] public string? ExperimentType { get; set; }
    [Parameter] public string? InstrumentId { get; set; }

    private CancellationTokenSource _cts = new();
    private bool _renderReady = true;
    private Dictionary<IInstrument, Dictionary<string, ExperimentOptions>> _jobsAvailable = new();
    private IInstrument? _selectedInstrument = null!;
    private ExperimentOptions? _selecteJob = null!;
    private Experiment? _currentExperiment;
    private ExperimentOptions? _currentExperimentMeta;
    private ExperimentsResult _activeExperiments = ExperimentsResult.Empty();

    private async Task RefreshState()
    {
        var jobsAvailable = new Dictionary<IInstrument, Dictionary<string, ExperimentOptions>>();
        IInstrument? selectedInstrument = null;
        ExperimentOptions? selectedJob = null;
        ExperimentOptions? currentExperimentMeta = null;
        Experiment? currentExperiment = null; 
        ExperimentsResult activeExperiments = ExperimentsResult.Empty();
        
        var instrumentJobs = ExperimentsOptions.Get(Organization).InstrumentJobs;
        var instruments = InstrumentOptions.Get(Organization);
        foreach (var (inst, jobs) in instrumentJobs)
        {
            var requirements = new[] { new IntrumentJobsUseRequirement(inst) };
            var auth = await AuthorizationService.AuthorizeAsync(AuthUser, null, requirements);
            if (auth.Succeeded)
                jobsAvailable[inst] = jobs;
        }
        
        if (jobsAvailable.Count > 0)
        {
            try
            {
                if (string.IsNullOrEmpty(InstrumentId))
                {
                    var instname = jobsAvailable.First();
                    NavigationManager.NavigateTo(UrlProvider($"microscopes/" + instname.Key.Name));
                    return;
                }
            
                selectedInstrument = instruments.Instruments.First(i => i.Name == InstrumentId);

                if (string.IsNullOrEmpty(ExperimentType))
                {
                    NavigationManager.NavigateTo(UrlProvider($"microscopes/" + InstrumentId + "/" + 
                                                              instrumentJobs[selectedInstrument].MinBy(i => i.Value.DisplayOrder).Key));
                    return;
                }

                selectedJob = instrumentJobs[selectedInstrument][ExperimentType];

                var expkey = (Organization.Id, selectedInstrument.Name, ExperimentType);
                currentExperimentMeta = jobsAvailable[selectedInstrument][ExperimentType];
                activeExperiments = await ExperimentsService.GetRunningExperimentAsync(Organization);
                // We should always have an experiment.
                // If there is active experiment in the engine, there is nothing to discuss
                var crexp = activeExperiments.ByKeyIdentif(expkey);
                if (crexp is not null)
                {
                    currentExperiment = crexp;
                    Logger.LogTrace("Setcrrentactiveexp available {}", currentExperiment.Id);
                }
                // There is not experiment in the engine, create new, but only if not already created previously!
                else if (_currentExperiment is null || _currentExperiment.KeyIdentif != expkey || _currentExperiment.Id != default)
                {
                    currentExperiment = ExperimentsService.CreateExperiment((Organization)Organization, expkey.Item2, expkey.ExperimentType);
                    Logger.LogTrace("Created new exp {}", currentExperiment.Id);
                }
                else 
                {
                    // Keep current experiment
                    currentExperiment = _currentExperiment;
                }

                if (!ReferenceEquals(_currentExperiment, currentExperiment))
                {
                    Logger.LogTrace("Experiment reference changed, ids: {} {}", _currentExperiment?.Id, currentExperiment?.Id);
                }
            }
            catch (Exception e) when (e is InvalidOperationException or KeyNotFoundException)
            {
                Logger.LogError(e, "Failed to display selected experiment");
                currentExperiment = null!;
                currentExperimentMeta = null!;
            }
        }
        
        _currentExperiment = currentExperiment;
        _selecteJob = selectedJob;
        _selectedInstrument = selectedInstrument;
        _currentExperimentMeta = currentExperimentMeta;
        _jobsAvailable = jobsAvailable;
        _activeExperiments = activeExperiments;
        
        Logger.LogTrace("Refresh done: meta_display_name={}, current_exp_id={}, current_exp_key_identif={}, current_exp_state={}", _currentExperimentMeta?.DisplayName, _currentExperiment?.Id, _currentExperiment?.KeyIdentifStr, _currentExperiment?.State);
    }
    // protected override bool ShouldRender() => !_refreshing;

    // public Task OnParametersSetAsyncByTimer() {
    //     return RefreshState(default);
    // }

    protected override Task OnParametersSetAsync() => RefreshState(); 

    bool _refreshing = false;

    
    // Refreshing experiment: should cause render immediately such that gui seems faster
    private void _onEventRefresh()
    {
        Logger.LogTrace("Refresh event invoked!");
        if (!_refreshing)
        {
            InvokeAsync(async () =>
            {
                await Task.Delay(300); // To avoid refresh cumulation
                try
                {
                    await RefreshState();
                }
                finally
                {
                    _refreshing = false;
                    StateHasChanged();
                }
            });
        }
    }

    protected override void OnInitialized()
    {
        ExperimentsService.ExperimentChanged += _onEventRefresh;
    }

    public void Dispose()
    {
        ExperimentsService.ExperimentChanged -= _onEventRefresh;
    }

}