@using DocumentFormat.OpenXml.Presentation
@using sip.Experiments.Model
@using sip.Experiments.Workflows
@using Microsoft.Extensions.Configuration.Json

@inject ILogger<DataProcessingPart> Logger
@inject IWorkflowProvider WorkflowProvider
@inject IOptionsMonitor<EnginesOptions> EngineOptions

@if (ShowWorkflowSetup) 
        {
            <GroupVertical>
                <Header>
                    Data processing
                </Header>
                <Body>
                <div class="wf-header">
                    <CEditForm TModelType="ExperimentIdle" FormFooter="@(CEditForm<ExperimentIdle>.EmptyFooter)" Context="ctxxx">
                        <InputAligner Flex="0 0 10rem, 1">
                            <CDropdown TValue="Workflow"
                                       Context="wfctx"
                                       OnValueSet="@SelectWorkflow"
                                       DisplayName="Workflow template"
                                       @bind-Value="@SelectedWorkflow"
                                       AutoDefault="@true"
                                       ItemsProvider="_WorkflowTemplateItemsProvider">
                                <ItemTemplate>
                                    <div>
                                        <span class="fw-bold">@wfctx.Title</span> <br/>
                                        <span class="small">@wfctx.Description</span> <br/>
                                        <span>
                                            @foreach(var tag in wfctx.Tags)
                                            {
                                                <span class="badge bg-secondary me-1">@tag</span>
                                            }
                                        </span>
                                        
                                    </div>
                                </ItemTemplate>
                                
                                <SelectedItemTemplate>
                                    <div>@wfctx.Title</div>
                                </SelectedItemTemplate>

                            </CDropdown>
                        </InputAligner>
                    </CEditForm>
                </div>
                
                <div class="wf-body">
                    @if (SelectedWorkflow is not null) 
                    {
                        <WorkflowGeneralRenderer Workflow="@SelectedWorkflow"
                                                 WorkflowData="@Exp.Processing.Workflow">
                        </WorkflowGeneralRenderer>
                    } 
                </div>
                
                </Body>
            </GroupVertical>
        }


@code {
    private bool ShowWorkflowSetup => !string.IsNullOrEmpty(Exp.Processing.ProcessingEngine);
    
    [Parameter] public Experiment Exp { get; set; } = null!;
    private Experiment? _prevExp = null;
    
    [Parameter]
    public ExperimentOptions ExpMeta { get; set; } = null!;
    
    protected override void OnParametersSet()
    {
        if (!ReferenceEquals(_prevExp, Exp))
        {
            SelectedWorkflow = null;
        }
        
        _prevExp = Exp;
    }

    
    // Processing / workflow setup state
    private Workflow? _selectedWorkflow;
    
    public Workflow? SelectedWorkflow
    {
        get => _selectedWorkflow;
        set
        {
            Logger.LogDebug("Selecting wf: {@Wf}", _selectedWorkflow);
            _selectedWorkflow = value;
            if (value is not null) 
            {
                DynamicFormTools.ApplyValues(value.Data, Exp.Processing.Workflow);
                Exp.Processing.WorkflowRef = value.Id;
                // Select processing engine - look for it in the tags, use configured engines to determine which tag is the engine
                Exp.Processing.ProcessingEngine = EngineOptions
                    .Get(Exp.Organization)
                    .Processing
                    .First(e => value.Tags.Contains(e.Id))
                    .Id;
                Logger.LogDebug("Values applied: source={@Source} target={@Target}", value.Data, Exp.Processing.Workflow);
            }
            else
            {
                Exp.Processing.Workflow = null;
                Exp.Processing.WorkflowRef = null;
                Logger.LogDebug("Workflow cleared");
            }
            
        }
    }
    
    private void SelectWorkflow(Workflow pipeline)
    {
        SelectedWorkflow = pipeline;
    }
    
    private async ValueTask<ItemsProviderResult<Workflow>> _WorkflowTemplateItemsProvider(ItemsProviderRequest request, string? searchstring)
    {
        var wfs = await WorkflowProvider.GetWorkflowsAsync(new WorkflowFilter(
                Organization: Exp.Organization,
                Tags: Exp.Processing.WorkflowTags)
            )
            .ToListAsync();
        
        var result = wfs.Where(kv =>
            StringUtils.IsFilterMatchAtLeastOneOf(searchstring, kv.Title, kv.Description))
            .ToList();
        
        return new ItemsProviderResult<Workflow>(result, result.Count);
    }



}