@using sip.Experiments.Model
@inject ILogger<ExperimentIdle> Logger
@inject ExperimentsService ExperimentsService
@inject ExperimentControlService ExperimentControlService

@* <div> Needed to apply ::deep in css *@
<div>
    <CEditForm TModelType="Experiment" novalidate OnSubmit="@ExperimentControlService.RequestStart" OnInvalidSubmit="@(() => _btnRun!.Unlock())"
               class="cform exp-idle-form"
               FormFooter="@(CEditForm<Experiment>.EmptyFooter)"
               Model="Exp">
        
        <div class="exp-form-flex-container">
            <div class="exp-form-data-part">
                <OperatorPickerPart Exp="Exp"/>
                <UserPickerPart Exp="Exp" ExpMeta="@ExpMeta"/>
                <ProjectPickerPart Exp="Exp"/>
                <SamplePickerPart Exp="Exp"/>
                <DataLifecyclePart Exp="Exp" OnLifecycleChanged="@(() => {})" ExpMeta="ExpMeta"/>

            </div>

            <div class="exp-form-processing-part">
                <DataProcessingPart Exp="Exp" ExpMeta="@ExpMeta"/>
            </div>

        </div>
        <div class="exp-form-button-part group d-flex align-items-center">
            <OneoffButton @ref="@_btnRun"
                          type="submit"
                          class="btn btn-primary me-1"
                          UsedCaption="Please wait..."
                          UnusedCaption="Run job"/>
            @* <button class="btn btn-danger me-1" disabled>Maintenance, temporarily unavailable</button> *@

            <CCheckBox HasLabel="@false" @bind-Value="@Exp.NotifyUser" />
        </div>
        
        @if (Exp.DataSource.CleanAfter.HasValue)
        {
            <div class="text-danger">To prevent cluttering microscope drives, the selected source directory will be automatically purged
                after @Exp.DataSource.CleanAfter.Value.Humanize(2, false)</div>
        }


    </CEditForm>
    
</div>

@code {

    [Parameter]
    public Experiment Exp { get; set; } = null!;
    
    [Parameter]
    public ExperimentOptions ExpMeta { get; set; } = null!;
    
    private OneoffButton? _btnRun;
}