@using sip.Experiments.Model
@inject IOptionsMonitor<IrodsViewOptions> IrodsViewOptions

@if (IsAccessible)
{
    
<p>Your dataset has been stored in iRODS cloud. To <strong>download your data</strong>,
    you may use our prepared script.</p>

<p><strong>On Linux <i class="fab fa-linux"></i> / macOS <i class="fab fa-apple"></i>:</strong></p>

<ol>
    <li>Open terminal and navigate to the directory where you want your data downloaded</li>
    <li>To download the dataset, execute following command:
        <CopiableCode CodeContent="@_GetIrodsFetchUnixOneliner()"></CopiableCode>
    </li>

</ol>

<p>If previous command does not work, you can follow next steps one by one:</p>

<ol>
    <li>Ensure that python3 and pip are installed on your system.</li>
    <li>iRODS client for Python is also required, once you have Python, install it by the following command:
        <CopiableCode CodeContent="python3 -m pip install python-irodsclient" />
    </li>

    <li>
        Use for example wget to fetch our download script:
        <CopiableCode CodeContent="@($"wget {Options.PythonDownloadScriptUrl}")" />
    </li>

    <li>Start the data downloading using the following command:
        <CopiableCode CodeContent="@_GetPythonFetch()" />
    </li>


</ol>

<p><strong>On Windows <i class="bi bi-windows text-primary">:</i></strong></p>

<ol>
    <li>You need to have <a href="https://www.python.org/downloads/">Python 3 and pip installed on your computer</a></li>
    <li>iRODS client for Python is also required, once you have Python, install it by the following command:
        <CopiableCode CodeContent="python3 -m pip install python-irodsclient" />
    </li>
    <li>In powershell, navigate to the folder where you want to have your dataset downloaded. You can do so
        by right-clicking with shift in Windows explorer and selecting "Open Powershell here"</li>
    <li>Fetch our download script using the following command:
        <CopiableCode CodeContent="@($"iwr {Options.PythonDownloadScriptUrl} -outfile irods_fetch.py")" /></li>
    <li>Start the data downloading using the following command:
        <CopiableCode CodeContent="@_GetPythonFetch()" />
    </li>
    <li>Keep the script running, it should download files one by one a report all of them. For large datasets, it
        may take several seconds until script scans the files and starts the download process.</li>
</ol>

}
else
{
    <p class="text-danger">Data access information is not available yet</p>
}


@code {

    [Parameter, EditorRequired] public ExperimentStorage ExperimentStorage { get; set; } = null!;
    
    private IrodsViewOptions Options => IrodsViewOptions.Get(ExperimentStorage.Experiment.Organization);
    
    private bool IsAccessible => 
        ExperimentStorage.Target is not null && 
        ExperimentStorage.Token is not null && 
        ExperimentStorage.FullPath is not null;
    
    private string _GetIrodsFetchUnixOneliner()
        => $"curl -sSfL \"{Options.UnixDownloadScriptUrl}\" " +
           $"| bash -s -- --host \"{ExperimentStorage.Target}\" -t \"{ExperimentStorage.Token}\" -c \"{ExperimentStorage.FullPath}\"";

    private string _GetPowershellFetch()
        => $"Invoke-Command -ScriptBlock ([Scriptblock]::Create((iwr \"{Options.WindowsDownloadScriptUrl}\").Content)) " +
           $"-ArgumentList ($args + @('--host', '{ExperimentStorage.Target}', '-t', '{ExperimentStorage.Token}', '-c', '{ExperimentStorage.FullPath}'))";
    
    private string _GetPythonFetch()
        => $"python3 irods_fetch.py --host {ExperimentStorage.Target} -t {ExperimentStorage.Token} -c {ExperimentStorage.FullPath}";
}
