Subject: [IID: {{Id}}] Unresolved issue - {{Subject}}

<p>An issue has not been resolved for {{timedelta DtAssigned}} days. </p>

<p>{{Description}}</p>

<p>See the issue at {{link_builder Organization.LinkId "issues" Id}}</p>

<p>###### This email is generated automatically, please do not reply to the email</p>