<div class="issue urgency-@DetermineUrgency(Issue).ToString() status-@Issue.Status.ToString()" selected="@IsSelected">
            
        <div>@Issue.Id</div>
        <div>@Issue.Status.Humanize()</div>
        <div>@StringUtils.WithPlaceholder(Issue.InitiatedBy?.Fullname) / @StringUtils.WithPlaceholder(Issue.Responsible?.Fullname)</div>
        
        <div>@Issue.Subject</div>
        <div>@Issue.DtObserved.HappenAgo()</div>
    
</div>        


@code {

    [Parameter]
    [EditorRequired]
    public Issue Issue { get; set; } = null!;
    
    [Parameter]
    public bool IsSelected { get; set; }
    
    [Parameter]
    public EventCallback<Issue>? OnSelection { get; set; }

    protected override void OnParametersSet()
    {
        if (Issue is null) throw new ArgumentNullException(nameof(Issue));
    }

}